<ion-view view-title="Account">
  <ion-content delegate-handle="xxx" scrollbar-y="false" on-scroll="onScroll()">

    <p>我是开始</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br>
    <br><br><br><br><br><br><br>
    <br>
    <br>
    <br><br><br>
    <p>我是中间的部分</p>





    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <button class="button button-balanced" ng-click="btnAciton()">店家</button>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <p>我是底部</p>
    <button class="button button-assertive" ng-click="backToTop()">Top</button>
  </ion-content>
</ion-view>
