<ion-view >
  <ion-nav-bar class="bar-positive nav-title-slide">
    <ion-nav-title>
      <ion-tabs>
        <ion-tab ng-repeat="tab in tabNav" title="{{tab.name}}" ng-click="getData($index)" ></ion-tab>

      </ion-tabs>

    </ion-nav-title>
  </ion-nav-bar>




  <ion-content class="padding" >
    <ion-refresher pulling-text="下拉刷新" refreshing-text="刷新成功" on-refresh="doRefresh()"></ion-refresher>
      <ion-list ng-repeat="item in items">

        <ion-item  >
          <div class="list card">

            <div class="item item-avatar">
              <img src="{{item.group.user.avatar_url}}">
              <span>{{item.group.user.name}}</span>
            </div>

            <div class="item item-body item-button-right" >
              <h2>{{item.group.category_name}}</h2>
              <img class="full-image" ng-if="item.group.large_image.url_list[0].url"  ng-src="{{item.group.large_image.url_list[0].url}}">
              <!--<img class="full-image" ng-if="item.group.large_image.url_list[0].url"  ng-src="{{item.group.large_image.url_list[0].url}}">-->
              <video class="full-image" ng-if="item.group.mp4_url" ng-src="{{videoProcessing(item.group.mp4_url)}}"></video>
              <p >{{item.group.text || item.content}}</p>

              <div class="item item-avatar" ng-if="item.comments[0]">
                <img src="{{item.comments[0].user_profile_image_url}}">
                <h6>{{item.comments[0].user_name}}</h6>
                <button>
                  <a href="#" class="subdued  icon ion-thumbsup text-right">  {{item.group.favorite_count}}</a>
                  <a href="#" class="subdued icon ion-thumbsdown text-right">  {{item.group.share_count}}</a>
                </button>

                <p>{{item.comments[0].description}}</p>
              </div>
              <p>
              <a href="#" class="subdued  icon ion-thumbsup text-left">  {{item.group.favorite_count}}</a>
              <a href="#" class="subdued icon ion-thumbsdown text-left">  {{item.group.share_count}}</a>
               <a href="#" class="subdued icon ion-chatbubble-working text-left">  {{item.group.comment_count}}</a>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#" class="subdued icon ion-forward ">  {{item.group.repin_count}}</a>
              </p>
            </div>

          </div>
        </ion-item>
      </ion-list>
    <ion-infinite-scroll immediate-check="false"  on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
  </ion-content>


</ion-view>
